@page "/suppliers"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject ETPrintshopWeb.Data.ApplicationDbContext DB
@using ETPrintshopWeb.Data
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Index</PageTitle>


<div class="container-fluid" style="width:95%;height:auto;min-height:100%;background-color:white;padding:2rem;overflow:auto;">
    <div class="container-fluid d-flex flex-row justify-content-between align-items-center">
        <h1>Suppliers</h1>

        <p>
            <AuthorizeView Roles="Admin">
                <a class="btn btn-info text-light" href="/suppliers/create">Create New</a>
            </AuthorizeView>
        </p>
    </div>


    <table class="container-fluid table table-borderless" style="border-spacing:0 10px;min-width:900px;">
        <thead style="background-color:#7C738F;">
            <tr class="border-1 border-dark">
                <th style="color:white;padding:8px 0 8px 8px;text-align:center;">Name</th>
                <th style="color:white;padding:8px 0 8px 8px;text-align:center;">Contact Person</th>
                <th style="color:white;padding:8px 0 8px 8px;text-align:center;">Email</th>
                <th style="color:white;padding:8px 0 8px 8px;text-align:center;">Contact Number</th>
                <th style="color:white;padding:8px 0 8px 8px;text-align:center;">Address</th>
                <th style="color:white;padding:8px 0 8px 8px;text-align:center;">Status</th>
                <th style="color:white;padding:8px 0 8px 8px;text-align:center;">Date Added</th>
                <AuthorizeView Roles="Admin">
                    <th style="color:white;padding:8px 0 8px 8px;text-align:center;">Action</th>
                </AuthorizeView>
            </tr>
        </thead>
        <tbody>
            @foreach (var supplier in Suppliers)
            {
                <tr style="border:1px solid black;">
                    <td style="text-align:center;">
                        @supplier.Name
                    </td>
                    <td style="text-align:center;">
                        @supplier.ContactPerson
                    </td>
                    <td style="text-align:center;">
                        @supplier.Email
                    </td>
                    <td style="text-align:center;">
                        @supplier.ContactNumber
                    </td>
                    <td style="text-align:center;">
                        @supplier.Address
                    </td>
                    <td style="text-align:center;">
                        @supplier.Status
                    </td>
                    <td style="text-align:center;">
                        @(supplier.DateAdded != null ? supplier.DateAdded.Value.ToShortDateString() : null)
                    </td>
                    <AuthorizeView Roles="Admin">
                        <td style="text-align:center;">
                            <a href="@($"suppliers/edit?id={supplier.Id}")"><img src="edit-icon.png" /></a> |
                            <a href="@($"suppliers/details?id={supplier.Id}")">Details</a> |
                            <a href="@($"suppliers/delete?id={supplier.Id}")"><img src="remove-icon.png" /></a>
                        </td>
                    </AuthorizeView>
                </tr>
            }
        </tbody>
    </table>

</div>

@code{
    List<Supplier> Suppliers { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Suppliers = await DB.Suppliers.ToListAsync();
    }
}