@page "/requisitionforms"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject ETPrintshopWeb.Data.ApplicationDbContext DB
@using ETPrintshopWeb.Data

<PageTitle>Index</PageTitle>

<div class="container-fluid" style="width:95%;height:100%;background-color:white;padding:2rem;">
    <h1>Requisitions</h1>

    <p>
        <a class="btn btn-info text-light" href="requisitionforms/create">Create New</a>
    </p>

    <table class="container-fluid table table-borderless" style="border-spacing:0 10px;">
        <thead style="background-color:#7C738F;">
            <tr>
                <th style="color:white;padding:8px 0 8px 8px;">Date Created</th>
                <th style="color:white;padding:8px 0 8px 8px;">J.O. #</th>
                <th style="color:white;padding:8px 0 8px 8px;">Delivery Date</th>
                <th style="color:white;padding:8px 0 8px 8px;">Status</th>
                <th style="color:white;padding:8px 0 8px 8px;">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var rf in RequisitionForms)
            {
                <tr style="border:1px solid black;">
                    <td>
                        @rf.DateRequested
                    </td>
                    <td>
                        @rf.JONumber
                    </td>
                    <td>
                        @rf.DeliveryDate
                    </td>
                    <td>
                        @rf.Status
                    </td>
                    <td>
                        <a href="@($"requisitionforms/edit?id={rf.Id}")"><img src="edit-icon.png"/></a> |
                        <a href="@($"requisitionforms/details?id={rf.Id}")">Details</a> |
                        <a href="@($"requisitionforms/delete?id={rf.Id}")"><img src="remove-icon.png"/></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@code{
    public List<RequisitionForm> RequisitionForms {get;set;} = new();

    protected override void OnInitialized(){
        RequisitionForms = DB.RequisitionForms.ToList();
    }
}